# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/app/.cxx/
*.keystore
*.jks
key.properties

# IDE
.idea/
*.iml
.vscode/
